<% swap_button_value = ""
  if @hidden_area == 'Видеосъемка'
     swap_button_value = 'Видео'
   else
     swap_button_value = 'Фото'
   end
%>

<script>
  $(document).on('turbolinks:load', function () {
    $('.catalog-item-card-rating').each(function (index, participant) {
      var rate = $(participant).attr("rating-val");
      generate_rating($(participant), rate);
    });

    $('.slider-container').each(function(index, element){

      $(element).slick({
        dots: false,
        infinite: false,
        speed: 300,
        slidesToShow: 1,
        variableWidth: true,
        touchMove: false
      });
    });

    if($(window).width() > 959) {
      $(".freewall-container").each(function () {
        $(this).mosaicflow({
          itemSelector: '.mosaicflow__item',
          minItemWidth: 200,
          minColumns: 1
        });
      });
    }else{
      $('.freewall-container').each(function(index, element){

        $(element).slick({
          dots: false,
          infinite: false,
          speed: 300,
          slidesToShow: 1,
          variableWidth: true,
          touchMove: false
        });
      });
    }
  });

</script>

<div class="catalog-section page-wrapper">
  <div class="top-filter-catalog-section">
    <%= form_tag("/catalog", method: "post", class: 'catalog-filter-form-box', id: 'filter-form-box', remote: true) do %>
        <div class="top-filter-catalog-block">
          <div class='form-cells-block'>
            <div class='form-element-with-title'>
              <%= label_tag('filter[price[min]', "Цена от ") %>
              <%= number_field_tag('filter[price[min]', (@old_params != nil) ? Integer(@old_params['price']['min']) : @prices[0], min:@prices[0], max: @prices[1]) %>
            </div>
            <div class='form-element-with-title'>
              <%= label_tag('filter[price[max]', "до ") %>
              <%= number_field_tag('filter[price[max]', (@old_params != nil) ? Integer(@old_params['price']['max']) : @prices[1], min:@prices[0], max: @prices[1]) %>
            </div>
            <div class='form-element-with-title'>
              <%= label_tag('filter[sort_by]', "Сортировка") %>
              <%= select_tag 'filter[sort_by]', options_for_select([['Цена'], ['Популярность'], ['Категория']],(@old_params != nil) ? @old_params[:sort_by] : 'Цена'), onchange: "this.form.submit()" %>
            </div>
          </div>
          <div class='center-button-block'>
            <%= submit_tag('Искать') %>
          </div>
          <div class='form-cells-block'>
            <div class='form-element-with-title'>
            <%= label_tag('filter[category]', "Категория:") %>
            <%= select_tag 'filter[category]', options_for_select(@categories, (@old_params != nil) ? @old_params[:category] : 'Все'), onchange: "this.form.submit()" %>
            </div>
            <div class='form-element-with-title'>
            <%= label_tag('filter[author_name]', "Поиск по имени") %>
            <%= text_field_tag('filter[author_name]',(@old_params != nil) ? @old_params['author_name'] : '') %>
            </div>
            <a class='swap-button' onclick='swap_function();'><%= swap_button_value %></a>
            <%= hidden_field('filter', 'area', {id: 'catalog_area', value: @hidden_area}) %>
          </div>
          <noscript>This form requires that you have javascript enabled to work properly please enable javascript in your browser.</noscript>
        </div>

    <% end %>

  </div>

  <div class="catalog-finded-items">
    <% @result.each  do |founded| %>
        <%= render partial: 'shared/catalog_item_card', locals: {item: founded} %>
    <% end %>
  </div>
</div>

<script>
    var swap_function = function () {
      var area = $("#catalog_area");
      if (area.val() == 'Видеосъемка') {
        area.val('Фотосъемка');
        $('.swap-button').html('Фото');
      } else {
        area.val('Видеосъемка');
        $('.swap-button').html('Видео');
      }
      $("#filter-form-box").submit();
    };


</script>