<% swap_button_value = ""
  if (@hidden_area == 'Видеосъемка')
     swap_button_value = 'Видео'
   else
     swap_button_value = 'Фото'
   end
%>

<div class="catalog-section">
  <div class="top-filter-catalog-section">
    <%= form_tag("/catalog", method: "post", class: 'catalog-filter-form-box', id: 'filter-form-box', remote: true) do %>
        <div class="top-filter-catalog-block">
          <div class='form-cells-block'>
            <div class='form-element-with-title'>
              <%= label_tag('filter[min]', "Цена от ") %>
              <%= number_field_tag('filter[min]', (@old_params != nil) ? @old_params[:min] : 0, min:0, max:100000) %>
            </div>
            <div class='form-element-with-title'>
              <%= label_tag('filter[max]', "до ") %>
              <%= number_field_tag('filter[max]', (@old_params != nil) ? @old_params[:max] : 1000, min:0, max:100000) %>
            </div>
            <div class='form-element-with-title'>
              <%= label_tag('filter[sort_by]', "Сортировка") %>
              <%= select_tag 'filter[sort_by]', options_for_select([['Цена'], ['Популярность'], ['Категория']]) %>
            </div>
          </div>
          <div class='center-button-block'>
            <%= submit_tag('Искать') %>
          </div>
          <div class='form-cells-block'>
            <div class='form-element-with-title'>
            <%= label_tag('filter[category]', "Категория:") %>
            <%= select_tag 'filter[category]', options_for_select(@categories, (@old_params != nil) ? @old_params[:category] : 'Все') %>
            </div>
            <div class='form-element-with-title'>
            <%= label_tag('filter[author_name]', "Поиск по имени") %>
            <%= text_field_tag('filter[author_name]') %>
            </div>
            <a class='swap-button' onclick='$("#filter-form-box").submit()'><%= swap_button_value %></a>
            <%= hidden_field('filter', 'area', {id: 'catalog_area', value: @hidden_area}) %>
          </div>
        </div>

    <% end %>

  </div>
  <% puts @result.inspect %>
  <div class="catalog-finded-items">
    <%= render 'shared/catalog' %>
  </div>
</div>