
<div class="info_and_avatar_block">
  <%= image_tag @portfolio.user.profile.avatar.thumb, class: 'avatar-photo' %>
</div>
<div class = "name-surname-block">
  <span class = 'name-of-author'><%= @portfolio.user.profile.name %></span>
  <span class = 'name-of-author'><%= @portfolio.user.profile.surname %></span>
</div>

<h1> ФОТОУслуги </h1>
<div class = container-for-adding-shootings>
  <% shooting_categories = ['Свадьбы','Праздники','Love Story','Персональные','Коммерческие','Вечеринки','Другие','Фотопроекты'] %>
  <% shooting_categories.each do |kindOf| %>
      <% result = @portfolio.user.shootings.where(category: kindOf)
         if result.exists? %>
          <div class='form-for-shooting-add-block'>
            <%= kindOf %>
          <div class="shooting-existed-block" style="background-image:url('<%= get_background_by_category(kindOf) %>'); background-size: cover">

            </div>
          </div>
      <% else %>
          <%= form_tag("/new_shooting", method: "post", class: 'form-for-shooting-add-block') do %>
              <input type="hidden" name="category" value="<%= kindOf %>">
              <%= label_tag kindOf %>
              <%= submit_tag('', class: 'shooting-add-block') %>
          <% end %>
      <% end %>
  <% end %>
</div>

<h1> ФОТОУслуги </h1>
<div class = container-for-shootings>
  <% @portfolio.user.shootings.each do |shooting| %>
      <div class="shooting-block">
        <div class = "shooting-description-block">
        <div>
          <%= shooting.category %>
        </div>
        <div>
          <%= shooting.price %>
        </div>
        </div>
      <% @portfolio.user.photos.each do |photo| %>
            <% puts photo.inspect %>
          <% if photo.category == shooting.category %>
      <%= image_tag( photo.image.preview.url, class: 'photo-preview') %>
          <% end %>
       <%end %>
      </div>
  <% end %>
  </div>

<h1> Видеоуслуги </h1>
<div class = container-for-videographies>
  <% @portfolio.user.videographies.each do |videography| %>
      <div class="videography-block">
        <div class = "videography-description-block">
          <div>
            <%= videography.category %>
          </div>
          <div>
            <%= videography.price %>
          </div>
        </div>
        <% @portfolio.user.videos.each do |video| %>
            <% puts video.inspect %>
            <% if video.category == videography.category %>
                <iframe width="200px" height="150px" src=<%=video.path%> frameborder="0" allowfullscreen class = 'video-preview'></iframe>
            <% end %>
        <%end %>
      </div>
  <% end %>
</div>

<h1>ВСЕ Фотоработы </h1>
<div class = container-for-photos>
  <% @portfolio.user.photos.each do |photo| %>
      <%= image_tag( photo.image.thumb.url, class: "photo-block") %>
  <% end %>
</div>

<h1>ВСЕ ВИДЕОРАБОТЫ </h1>
<div class = container-for-videos>
  <% @portfolio.user.videos.each do |video| %>
      <iframe width="200px" height="150px" src=<%=video.path%> frameborder="0" allowfullscreen></iframe>
  <% end %>
</div>
<% if  signed_in? && current_user?(@portfolio.user_id) %>
<div class = 'form-for-new-photo'>
  <%= form_for @photo, :html => {:multipart => true} do |f| %>
      <p>
        <label>Загрузить фото:</label>
        <%= image_tag(@photo.image_url) if @photo.image != nil %>
        <label> Название</label>
        <%= f.text_field :title %>
        <%= f.label 'Категория:' %>
        <%= select_tag "photo[category]", options_for_select(shooting_categories) %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
        <%= f.submit "Добавить фото", class: "btn btn-primary" %>
      </p>
  <% end %>
</div>

 <div class = 'form-for-new-video'>
      <%= form_for @video, :html => {:multipart => true} do |f| %>
          <p>
            <label>Загрузить видео:</label>
            <label> Название</label>
            <%= f.text_field :title %>
            <%= f.label 'Категория:' %>
            <%= select_tag "video[category]", options_for_select([['Детское'],['Вечеринки'],['Свадебное']],1) %>
            <label> Ссылка</label>
            <%= f.text_field :path %>
            <%= f.submit "Добавить видео", class: "btn btn-primary" %>
          </p>
      <% end %>
 </div>


<%= link_to "Редактировать портфолио", edit_portfolio_path %>
    <%= link_to "Добавить видеоуслуги", videographies_new_path %>
<%= link_to "Мои услуги", '/shootings' %>

<% end %>