<%
  categories = []
  current_user.shootings.each do |s|
    categories << s.category
  end
  categories = ApplicationHelper.get_photo_categories - ['Все'] - categories
%>

<div class="add-shooting" id="add-shooting">
  <%= form_for @shooting, :html => {:multipart => true, :class => 'registration-box'}, :method => 'post' do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="category_and_price_field">
        <div class="register_field">
          <div class="register_label">
            <%= f.label 'Категория' %>
          </div>
          <div class="register_field">
            <%= f.select :category, options_for_select(categories),:html =>{class: 'register_field_select'}  %>
          </div>
        </div>
        <div class="register_field">
          <div class="register_label">
            <%= f.label 'Цена' %>
          </div>
          <div class="register_field">
            <%= f.number_field :price, class: 'register_field_price' %>
          </div>
        </div>

      </div>

      <div class="register_label">
        <%= f.label 'Авторское описание' %>
      </div>
      <div class="register_field">
        <%= f.text_area :description, class: 'register_field_description' %>
      </div>
      <div class="register_field">
        <%= f.submit "Добавить", class: "btn btn-primary" %>
      </div>

  <% end %>

</div>