<div class='form-for-new-video' id="add_new_video">
  <%= form_for @video, :html => {:multipart => true, :class => 'registration-box', :style => 'min-height:300px;'} do |f| %>
      <div class="register_field">
          <label> Название</label>
        <div class="register_field">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="register_field">
        <%= f.label 'URL видео:' %>

        <div class="register_label">
        <%= f.text_field :path %>
          </div>
      </div>
      <%= f.hidden_field :category, value: @category %>
      <div class="register_field" style="margin-top: 10px;">
      <%= f.submit "Добавить видео", class: "btn btn-primary" %>
      </div>
  <% end %>
</div>