<div class = "add-shooting">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @videography, :html => {:multipart => true} do |f| %>
        <%= render 'shared/error_messages' , object: f.object%>
        <div class = "register_field">
          <%= f.label 'Категория съемки' %>
          <%= select_tag "videography[category]", options_for_select([['Детское'],['Вечеринки'],['Свадебное']],1) %>
        </div>
        <div class = "register_field">
          <%= f.label 'Цена' %>
          <%= f.text_field :price %>
        </div>
        <div class = "register_field">
          <%= f.label 'Авторское описание' %>
          <%= f.text_area :description %>
        </div>
        <div class = "register_field">
          <%= f.submit "Добавить", class: "btn btn-primary" %>
        </div>

    <% end %>
  </div>

</div>