<% if item.user.profile && item.user.profile.name && item.user.profile.surname &&  item.user.portfolio %>
<div class="catalog-item-card">
  <div class="catalog-item-card-front-side">
    <div class="catalog-item-card-avatar">
      <%= image_tag item.user.profile.avatar.thumb, class: 'card-item-avatar-img' %>
    </div>
    <div class="catalog-item-card-name catalog-item-card-field">
      <%= link_to item.user.profile.name + " " + item.user.profile.surname, item.user.portfolio, class: 'name-of-author' %>
    </div>
    <div class="catalog-item-card-price catalog-item-card-field"> <%= item.price.to_i %> </div>
    <div class="catalog-item-card-rating catalog-item-card-field" rating-val=<%= find_rating(item.user.portfolio.ratings) %>></div>
    <div class="catalog-item-card-skills catalog-item-card-field">
      <%= item.user.created_at.strftime("%F") %>
    </div>
    <div class="catalog-item-card-more catalog-item-card-field">
      <%= link_to "Подробнее...", item.user.portfolio %>
    </div>
  </div>
  <div class="catalog-item-card-back-side">
    <div class="catalog-item-card-examples">

      <div class="freewall-container">
        <% if item.instance_of? Shooting %>
        <% item.user.photos.each do |photo| %>
            <% if photo.category == item.category %>
                <a class="mosaicflow__item" href="<%= photo.image.url %>" data-rel="lightcase:myCollection:slideshow">
                    <%= image_tag(photo.image.preview, class: "img-in-freewall") %>
                </a>
            <% end %>
        <% end %>
        <% else %>
              <% item.user.videos.each do |video| %>
                  <% if video.category == item.category %>
                    <a class="mosaicflow__item">
                      <%= youtube_video video.path %>
                    </a>
                  <% end %>
              <% end %>
        <% end %>
      </div>


    </div>
  </div>
  <div class="switch-control switch-control-front" onclick="$(this).parent().toggleClass('expanded', false)"></div>
  <div class="switch-control switch-control-back" onclick="$(this).parent().toggleClass('expanded', true)"></div>
</div>
<% end %>
