<% @result.each  do |shooting| %>
    <div class = 'search-result-item'>
      <div class = 'photo-examples-block'>
        <% chosen = get_photos_by_category(shooting.user.photos, shooting)
           puts chosen.inspect
           counter = 0%>
        <% if chosen.length > 3 && !chosen.blank?
             (0..2).each do |photo| %>
                <a class="showcase photo-in-item" href="<%= chosen[photo].image.url %>" data-rel="lightcase"> <%= image_tag chosen[photo].image.preview %></a>
            <% end %>
        <% else if chosen.length <= 3 && !chosen.blank?
                  (0..chosen.length-1).each do |photo| %>
                    <a class="showcase photo-in-item" href="<%= chosen[photo].image.url %>" data-rel="lightcase"> <%= image_tag chosen[photo].image.preview %></a>
                <% end %>
            <% end %>
        <%end %>

      </div>
      <div class = 'about-author-block'>
        <div class = "author-info">
            РЕЙТИНГ: <br> <%= find_rating(shooting.user.portfolio.ratings) %>
        </div>
        <div class = "author-info">
          <%= link_to image_tag(shooting.user.profile.avatar.thumb, class: 'avatar-photo-in-item'),shooting.user.portfolio,class: 'avatar-link-in-item' %>
          <%= link_to shooting.user.profile.name, shooting.user.portfolio, class: 'name-of-author' %>
        </div>
        <div class = "author-info">
          <span class = 'price-cell'><%= shooting.price %> <br> в/час</span>
        </div>
      </div>
      <div class = 'photo-examples-block'>
        <% if chosen.length > 3 && !chosen.blank?
             (3..5).each do |photo| %>
                <% if !chosen[photo].nil? %>
                <a class="showcase photo-in-item" href="<%= chosen[photo].image.url %>" data-rel="lightcase"> <%= image_tag chosen[photo].image.preview %></a>
                <% end %>
            <% end %>
        <%end %>
      </div>
    </div>
<% end %>
