<%= form_for @profile, :url => url_for(:controller => 'profiles', :action => 'update_avatar'), :html => {:multipart => true, :id => 'avatar_edit_form'} do |f| %>
    <div class = "register_field">
      <label>Аватар</label>
      <%= image_tag(@profile.avatar.thumb) if @profile.avatar? %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
      <%= f.hidden_field :id, value: @profile.id %>
    </div>
    <div class = "register_field">
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    </div>
<% end %>
