<%= form_for @profile, :url => url_for(:controller => 'profiles', :action => 'update_avatar'), :html => {:multipart => true, :id => 'avatar_edit_form', :class => 'registration-box', :style => 'min-height:250px;'} do |f| %>
    <div class = "register_field">
      <label>Аватар</label>
      </div>
      <div class = "register_field" style="height: 200px; width: 300px">
      <%= image_tag(@profile.avatar, :class => 'autosize-img') if @profile.avatar? %>
        </div>
      <div class = "register_field">
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
      <%= f.hidden_field :id, value: @profile.id %>
      </div>
    <div class = "register_field">
      <%= f.submit "Изменить аватар", class: "btn btn-primary" %>
    </div>
<% end %>
