<header>
  <%= link_to "", root_path,  id:"logo" %>
  <div id=navmenu>
    <%= link_to  "О нас", '/about' %>
    <%= link_to  "Каталог", '/catalog' %>
    <a href = "#">Контакты</a>
    <div class = "personal-cabinet">
      <% if signed_in? %>
          <%= link_to  current_user.email, current_user.profile %>
          <% if current_user.operator? %>
            <%= link_to  "Портфолио", current_user.portfolio %>
          <% end %>
          <%= link_to  "Выйти", signout_path, method: "delete" %>
      <% else %>
          <%= link_to  "Войти", signin_path %>
          <%= link_to  "Регистрация", signup_path %>
      <% end %>
    </div>
  </div>
</header>