<header>
  <div class="header-section">
    <%= link_to "О нас", '/about', 'data-no-turbolink' => true %>
  </div>
  <div class="header-section">
    <%= link_to "Новости", events_index_path%>
  </div>
  <%= link_to "", root_path, class: "header-section", id: 'logo' %>
  <div class=header-section>
    <%= link_to "Каталог", '/catalog','data-no-turbolink' => true %>
  </div>
  <div class="personal-cabinet header-section">
    <% if user_signed_in? %>
        <%= image_tag current_user.profile.avatar, class: "header-avatar", onerror:"this.style.display='none'" %>
        <%= link_to current_user.profile.name, current_user.profile, id: 'name_header_link' %>
        <div class="profile-block-header">
          <div id="profile-block-header-button" clicked="false" onclick="showMenu('profile-block-header-button','profile-block-header-menu')"></div>
        </div>
    <% else %>
        <%= link_to "Войти", new_user_session_path %>
        <%= link_to "Регистрация", new_user_registration_path, id: 'sign_up_btn' %>
    <% end %>
    <div id="profile-block-header-menu" class="header-section">
      <% if user_signed_in? %>
          <%= link_to "Профиль", current_user.profile %>
          <% if current_user.operator? %>
              <%= link_to "Портфолио", current_user.portfolio %>
          <% end %>
      <% end %>
      <%= link_to "Выйти", destroy_user_session_path, method: "delete" %>
    </div>
  </div>
</header>
<div class=zaglushka></div>
<div id="line-with-logo">
</div>
<div class="zaglushka zaglushka-add"></div>

 <!-- render 'shared/login_form' -->

