<script>
  $(function(){
    jQuery("#slider2").slider({
      min: <%= prices[0] %>,
      max: <%= prices[1] %>,
      values:  [<%= prices[0] %>, <%= prices[1] %>],
      range: true,
      stop: function(event, ui) {
        jQuery("input#minCost2").val(jQuery("#slider2").slider("values",0));
        jQuery("input#maxCost2").val(jQuery("#slider2").slider("values",1));
      },
      slide: function(event, ui){
        jQuery("input#minCost2").val(jQuery("#slider2").slider("values",0));
        jQuery("input#maxCost2").val(jQuery("#slider2").slider("values",1));
      }
    });})
  jQuery("input#minCost").change(function(){
    var value1=jQuery("input#minCost2").val();
    var value2=jQuery("input#maxCost2").val();
    if(parseInt(value1) > parseInt(value2)){
      value1 = value2;
      jQuery("input#minCost2").val(value1);
    }
    jQuery("#slider2").slider("values",0,value1);
  });

  jQuery("input#maxCost").change(function(){
    var value1=jQuery("input#minCost2").val();
    var value2=jQuery("input#maxCost2").val();
    if (value2 > <%= prices[1] %>) { value2 = <%= prices[1] %>; jQuery("input#maxCost2").val( <%= prices[1] %>)}
    if(parseInt(value1) > parseInt(value2)){
      value2 = value1;
      jQuery("input#maxCost2").val(value2);
    }})
</script>


<!--------СЛАЙД 2-------------->

<section id = "videohome">
  <div class = transparent-block300></div>
  <div id="videoslide" class = "whitestripe active">
    <h1>- Видеосъемка -</h1>
    <%= form_tag("/catalog", method: "post") do %>
        <div class = "slider-wrapper">
          <h2>средняя стоимость за час работы</h2>
          <input name="filter[min]" class = "slider-price-cell cell-min" type="number" min="0" max="100000" id="minCost2" value=<%= prices[0] %>>
          <input name = 'filter[max]' class = "slider-price-cell cell-max" type="number" min="0" max="100000" id="maxCost2" value=<%= prices[1] %>>
          <div id="slider2"></div>
          <%= hidden_field('filter', 'area', {id: 'video_area', value: 'Видеосъемка'}) %>
          <%= hidden_field('filter', 'category', {id: 'video_category_field', value: 'Все'}) %>
          <%= submit_tag 'ИСКАТЬ', class:"btn-search" %>
        </div>
    <% end %>
    <div class = "slider-controls">
      <%= image_tag("birdy.png")%>
      <button formaction="" id = btn2-showfilters>ПОКАЗАТЬ РАЗДЕЛЫ</button>
    </div>
  </div>

  <div id="videoslide-filters" class = "whitestripe">
    <h1>- ВСЕ РАЗДЕЛЫ -</h1>
    <div class = "filter-wrapper">
      <div class=filter-box>
        <div class="filter-round">            </div>
        <span class="filter-label">СВАДЬБЫ</span>
      </div>
      <div class=filter-box>
        <div class="filter-round">
        </div>
        <span class="filter-label">Праздники</span>
      </div>
      <div class=filter-box>
        <div class="filter-round">
        </div>
        <span class="filter-label">LOVE STORY</span>                      </div>
      <div class=filter-box>
        <div class="filter-round">
        </div>
        <span class="filter-label">ПЕРСОНАЛЬНЫЕ</span>                   </div>

      <div class=filter-box>
        <div class="filter-round">
        </div>
        <span class="filter-label">КОММЕРЧЕСКИЕ</span>                  </div>
      <div class=filter-box>
        <div class="filter-round">
        </div>
        <span class="filter-label">ВЕЧЕРИНКИ</span>                     </div>
      <div class=filter-box>
        <div class="filter-round">
        </div>
        <span class="filter-label">ДРУГИЕ</span>                  </div>
      <div class=filter-box>
        <div class="filter-round">
        </div>
        <span class="filter-label">ФОТОПРОЕКТЫ</span>                   </div>
    </div>

    <button id=btn2-hidefilters>СКРЫТЬ РАЗДЕЛЫ</button>
  </div>
  </div>

</section>