<script>
  $(function(){
    var slider = $('#slider');
    var minCost = $('input#minCost');
    var maxCost = $('input#maxCost');
    slider.slider({
      min: <%= prices[0] %>,
      max: <%= prices[1] %>,
      values: [<%= prices[0] %>,<%= prices[1] %>],
      range: true,
      animate: 'fast',
      stop: function(event, ui) {
        minCost.val(slider.slider("values",0));
        maxCost.val(slider.slider("values",1));
        $(".scrollable-sections-container").swipe('enable');
      },
      slide: function(event, ui){
        minCost.val(slider.slider("values",0));
        maxCost.val(slider.slider("values",1));
      },

      start: function(event, ui){
        $(".scrollable-sections-container").swipe('disable');
      }
    });

    minCost.on('input', function(){
      var value1= minCost.val();
      var value2= maxCost.val();
      if(parseInt(value1) > parseInt(value2)){
        value1 = value2;
        minCost.val(value1);
      }
      slider.slider("values",0,value1);
    });

    maxCost.on('input', function(){

      var value1=minCost.val();
      var value2=maxCost.val();
      if (value2 > <%= prices[1] %>) { value2 = <%= prices[1] %>; maxCost.val(<%= prices[1] %>)}
      if(parseInt(value1) > parseInt(value2)){
        value2 = value1;
        maxCost.val(value2);
      }
      slider.slider("values",0,value2);
    });
  });


</script>

<div id = "photohome" class="scrollable-section active-section">
  <div class = transparent-block300>
  </div>
  <div id="photoslide" class = "whitestripe active">
    <h1>- ФОТОСЪЕМКА -</h1>
    <%= form_tag("/catalog", method: "post", id: 'photo_filter_form') do %>
        <div class = "slider-wrapper">
          <h2>средняя стоимость за час работы</h2>
          <input name = 'filter[price[min]' class = "slider-price-cell cell-min" type="number" min="0" max="100000" id="minCost" value=<%= prices[0] %>>
          <input name = 'filter[price[max]' class = "slider-price-cell cell-max" type="number" min="0" max="100000" id="maxCost" value=<%= prices[1] %>>
          <div id="slider"></div>
          <%= submit_tag 'ИСКАТЬ', class:"btn-search", onclick: "showFilter(); return false;" %>
          <%= hidden_field('filter', 'category', {id: 'photo_category_field', value: 'TFP'}) %>
          <%= hidden_field('filter', 'area', {id: 'photo_area', value: 'Фотосъемка'}) %>
        </div>
    <% end %>
  </div>

  <div id="photoslide-filters" class = "whitestripe">
    <div class = "filter-and-controls-section">
      <div class="filter-section-back-step">
        К ЦЕНЕ
        <div class="filter-section-back-step-button" onclick="showPrice()">
        </div>
      </div>
    <div class = "filter-section">

      <a class="filter-section-item"  ontouchstart="$(this).toggleClass('hover');" onclick="setAndSubmit('#photo_filter_form', '#photo_category_field', 'TFP')">
        <div class="filter-section-item-flipper">
          <div class="filter-section-item-flipper-front" id="filter-item-front-1"></div>
          <div class="filter-section-item-flipper-back">TFP</div>
        </div>
      </a>
      <a class="filter-section-item" ontouchstart="$(this).toggleClass('hover');" onclick="setAndSubmit('#photo_filter_form', '#photo_category_field', 'Fashion')">
        <div class="filter-section-item-flipper">
          <div class="filter-section-item-flipper-front" id="filter-item-front-2"></div>
          <div class="filter-section-item-flipper-back">FASHION</div>
        </div>
      </a>
      <a class="filter-section-item" ontouchstart="$(this).toggleClass('hover');" onclick="setAndSubmit('#photo_filter_form', '#photo_category_field', 'Свадебная')">
        <div class="filter-section-item-flipper">
          <div class="filter-section-item-flipper-front" id="filter-item-front-3"></div>
          <div class="filter-section-item-flipper-back">СВАДЕБНАЯ</div>
        </div>
      </a>
      <a class="filter-section-item" ontouchstart="$(this).toggleClass('hover');" onclick="setAndSubmit('#photo_filter_form', '#photo_category_field', 'Детская и семейная')">
        <div class="filter-section-item-flipper">
          <div class="filter-section-item-flipper-front" id="filter-item-front-4"></div>
          <div class="filter-section-item-flipper-back" >ДЕТСКАЯ И СЕМЕЙНАЯ</div>
        </div>
      </a>
      <a class="filter-section-item" ontouchstart="$(this).toggleClass('hover');" onclick="setAndSubmit('#photo_filter_form', '#photo_category_field', 'Праздники')">
        <div class="filter-section-item-flipper">
          <div class="filter-section-item-flipper-front" id="filter-item-front-5"></div>
          <div class="filter-section-item-flipper-back" >ПРАЗДНИКИ</div>
        </div>
      </a>
      <a class="filter-section-item" ontouchstart="$(this).toggleClass('hover');" onclick="setAndSubmit('#photo_filter_form', '#photo_category_field', 'Концерты и вечеринки')">
        <div class="filter-section-item-flipper">
          <div class="filter-section-item-flipper-front" id="filter-item-front-6"></div>
          <div class="filter-section-item-flipper-back" >КОНЦЕРТЫ И ВЕЧЕРИНКИ</div>
        </div>
      </a>
      <a class="filter-section-item" ontouchstart="$(this).toggleClass('hover');" onclick="setAndSubmit('#photo_filter_form', '#photo_category_field', 'Персональная')">
        <div class="filter-section-item-flipper">
          <div class="filter-section-item-flipper-front" id="filter-item-front-7"></div>
          <div class="filter-section-item-flipper-back">ПЕРСОНАЛЬНАЯ</div>
        </div>
      </a>
      <a class="filter-section-item" ontouchstart="$(this).toggleClass('hover');" onclick="setAndSubmit('#photo_filter_form', '#photo_category_field', 'Love Story')">
        <div class="filter-section-item-flipper">
          <div class="filter-section-item-flipper-front" id="filter-item-front-8"></div>
          <div class="filter-section-item-flipper-back" >LOVE STORY</div>
        </div>
      </a>

      <a class="filter-section-item" ontouchstart="$(this).toggleClass('hover');" onclick="setAndSubmit('#photo_filter_form', '#photo_category_field', 'Коммерческая')">
        <div class="filter-section-item-flipper">
          <div class="filter-section-item-flipper-front" id="filter-item-front-9"></div>
          <div class="filter-section-item-flipper-back" >КОММЕРЧЕСКАЯ</div>
        </div>
      </a>

      <a class="filter-section-item" ontouchstart="$(this).toggleClass('hover');" onclick="setAndSubmit('#photo_filter_form', '#photo_category_field', 'Интерьерная')">
        <div class="filter-section-item-flipper">
          <div class="filter-section-item-flipper-front" id="filter-item-front-10"></div>
          <div class="filter-section-item-flipper-back" >ИНТЕРЬЕРНАЯ</div>
        </div>
      </a>

      <a class="filter-section-item" ontouchstart="$(this).toggleClass('hover');" onclick="setAndSubmit('#photo_filter_form', '#photo_category_field', 'Предметная')">
        <div class="filter-section-item-flipper">
          <div class="filter-section-item-flipper-front" id="filter-item-front-11"></div>
          <div class="filter-section-item-flipper-back" >ПРЕДМЕТНАЯ</div>
        </div>
      </a>

      <a class="filter-section-item" ontouchstart="$(this).toggleClass('hover');" onclick="setAndSubmit('#photo_filter_form', '#photo_category_field', 'Другие')">
        <div class="filter-section-item-flipper">
          <div class="filter-section-item-flipper-front" id="filter-item-front-12"></div>
          <div class="filter-section-item-flipper-back" >ДРУГИЕ</div>
        </div>
      </a>
    </div>
      <div class="filter-section-next-step">
      </div>
      <!--<button id=btn-hidefilters>СКРЫТЬ РАЗДЕЛЫ</button>-->
    </div>
  </div>

</div>