
<div id="login-form" class="registration-box" style="display: none">
  <%= form_for :session, url: sessions_path, :html => {:class => 'registration-box-fields-wrapper'}  do |f| %>
      <div class = "full-row-field form-header"> АВТОРИЗАЦИЯ </div>
        <div class="register_field">
          <%= f.text_field :email, :placeholder => 'Логин' %>
          </div>
        <div class="register_field">
          <%= f.password_field :password, :placeholder => 'Пароль' %>
        </div>
          <div class="full-row-field form-submit">
            <%= f.submit "ВОЙТИ", class: "form-submit-btn" %>
          </div>
          <div class="full-row-field">
            <%= link_to "Зарегистрируйся прямо сейчас!", signup_path, remote: true %>
          </div>
  <% end %>
</div>