<div id="signup-form" class="registration-box" style="display: none">
  <%= form_tag users_path, method: 'post' , :html => {:multipart => true, :class => 'registration-box-fields-wrapper'}, remote: true do |f| %>
      <div class="full-row-field form-header"> БЫСТРАЯ РЕГИСТРАЦИЯ</div>
      <div class="register_field">
        <%= text_field_tag 'user[email]', nil ,:placeholder => 'Ваш E-Mail' %>
      </div>
      <div class="register_field">
        <%= password_field_tag 'user[password]', nil ,:placeholder => 'Ваш пароль' %>
      </div>
      <div class="register_field">
        <%= password_field_tag 'user[password_confirmation]', nil ,:placeholder => 'Повторите пароль' %>
      </div>
      <div class="full-row-field">
        <%= label_tag 'operator', 'Я оператор', {:class => "check-box-replace-button", :onclick => 'customCheckbox($(this))'} %>
      </div>
      <div class="register_field" style = "display:none" >
        <%= check_box 'user', 'operator', {id: 'operator-checkbox'}, 'true', 'false'   %>
      </div>
      <div class="full-row-field form-submit">
        <%= submit_tag "Продолжить", class: "form-submit-btn" %>
      </div>
  <% end %>
</div>

<script>
  var customCheckbox = function(author) {
    var checkbox = $('.register_field input[type=hidden]');
    if(checkbox.prop('value') == 'false'){
      checkbox.prop('value', 'true');
    }else{
      checkbox.prop('value', 'false');
    }
    $(author).toggleClass('custom-checkbox-checked');
  }
</script>
