<div class="registration-box">
    <%= form_for @user, :html => {:multipart => true} do |f| %>
        <%= render 'shared/error_messages' , object: f.object%>
        <div class = "registration-box-fields-wrapper">
          <div class = "registration-box-column">
            <div class = "register_field">
            <%= f.label :email %>
              </div>
            <div class = "register_field">
            <%= f.label 'Пароль' %>
              </div>
            <div class = "register_field">
            <%= f.label 'Подтвердите пароль' %>
              </div>
            <div class = "register_field">
              <%= f.label 'Я оператор' %>
              <%= f.check_box :operator %>
            </div>
            <div class = "register_field">
              <%= f.submit "Продолжить", class: "btn btn-primary" %>
            </div>
          </div>
          <div class = "registration-box-column">
            <div class = "register_field">
            <%= f.text_field :email %>
              </div>
            <div class = "register_field">
            <%= f.password_field :password %>
              </div>
            <div class = "register_field">
            <%= f.password_field :password_confirmation %>
              </div>
          </div>
        </div>


    <% end %>
</div>
