<!DOCTYPE html>
<html>
<head>
  <title>Canvas2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body  <% if content_for?(:body_attributes) %>
       <%= yield(:body_attributes) %>
       <% end %>>
<script>
    $(document).click(function(event) {
        var text = $(event.target).text();
    });
</script>
<%= render 'shared/better_header' %>
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<%= yield %>

<%= render 'shared/footer' %>
<div id = tempObjects></div>
</body>
</html>
